<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
<div>
    <aside>
        <div class="center">
            <img class="logo" src="/img/logo.png" alt="logo">
        </div>

        <nav>
            <a href="/">Main Page</a>
            {{#if user}}
            <a href="/article/{{latestArticle._id}}/{{lastEdit._id}}">Latest Article</a>
            <a href="/allArticles">All Articles</a>
            <form method="get" action="/search">
                <label for="article"></label>
                <input id="article" type="text" name="search">
                <input type="submit" value="Search">
            </form>
            <a href="/article/create">Create New Article</a>
            {{/if}}
        </nav>
    </aside>
    <div id="container">
        <header>
            {{#unless user}}
            <a href="/user/login">Login</a>
            <a href="/user/register">Register</a>
            {{/unless}}
            {{#if user}}
            <span>Welcome, {{user.email}}!</span>
            <a href="/logout">[Logout]</a>
            {{/if}}
        </header>
       <main>
           {{#if error}}
               <h2>{{error}}</h2>
           {{/if}}
           {{{body}}}
        </main>
        <footer>
            SoftUni Wiki &copy; 2018
        </footer>
    </div>
</div>
</body>

</html>