<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>{{article.title}}</h2>
    <div class="spacer">
        <h3>Edit history</h3>
        <ul>
            {{#each article.currentEdits}}
                <li>
                    <a href="/article/{{this.id}}/{{this.editId}}">{{this.currentCreationDate}}‎</a> by
                    <span class="author">{{this.creator}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
</section>