<h1>Manage orders</h1>
<div class="orders">
    <form method="post">
        {{#each orders}}
            <div class="order">
                <span class="order-time">{{this.currentDate}}</span>
                <span class="order-name">{{this.product.category}} doner, {{this.product.size}} cm</span>
                <span class="order-status">
							<select name="{{this._id}}">
								<option value="pending" {{#if this.orederStatus.pending}}selected{{/if}}>Pending</option>
					            <option value="inProgress" {{#if this.orederStatus.inProgress}}selected{{/if}}>In Progress</option>
					            <option value="inTransit" {{#if this.orederStatus.inTransit}}selected{{/if}}>In Transit</option>
					            <option value="delivered" {{#if this.orederStatus.delivered}}selected{{/if}}>Delivered</option>
							</select>
						</span>
                <a href="/order/details/{{this._id}}" class="button order-button">Details</a>
            </div>
        {{else}}
            <h3>There is no orders</h3>
        {{/each}}
        <input type="submit" value="Save Changes" class="button" style="border:0">
    </form>
</div>